<br><br>
<div class="question_container">
  <h3><%= @question.title %></h3>
    <div class="votes_container">
      <form action="/questions/<%= @question.id %>/votes" method="post">

        <button class="vote_buttons" name="vote_input" type="submit" value="1">+</button>

      </form>
      <form action="/questions/<%= @question.id %>/votes" method="post">

        <button class="vote_buttons" name="vote_input" type="submit" value="-1">-</button>

        <span>votes: <%= @question.object_votes %></span>
      </form>
    </div>
    <p class="question_body"> <%= @question.question_body %></p><br>
    <a href="/questions/<%= @question.id %>/comments">Comments</a>

    <br><br>
</div>

    <h1>Answers</h1>
    <div class="add_answer_container">
      <a class="post_answer" href="/questions/<%= @question.id %>/answers/new">Add answer</a>
    </div>

    <div class="answers_container">
      <ul>
      <% @question.answers.each do |answer| %>
        <li> <%= answer.answer_body %> </li>
        <!-- possible to create a partial here -->
        <div class="votes_container">
            <form action="/answers/<%= answer.id %>/votes" method="post">
              <button class="vote_buttons" name="vote_input" type="submit" value="1">+</button>
            </form>
            <form action="/answers/<%= answer.id %>/votes" method="post">
              <button class="vote_buttons" name="vote_input" type="submit" value="-1">-</button>
              <span>votes: <%= answer.object_votes %></span>
            </form>
        </div>
        <a href="/answers/<%= answer.id %>/comments">Comments</a>
        <br><br>
    <% end %>
    </ul>
  </div>



