<br><br>
<div class="commentable_description">
  <%= @comments.first.commentable_type %> -
  <% if  @comments.first.commentable_type == "Question"%>
  <%= @comments.first.commentable.question_body %>
  <% else %>
  <%= @comments.first.commentable.answer_body %>
  <% end %>
</div>
<br>
<ul>
<% @comments.each do |comment| %>
  <li><%= comment.comment_body %></li>
  <span>- <%= comment.commentable.user.username %></span><br>
  <div class="votes_container">
    <form action="/comments/<%= comment.id %>/votes" method="post">
      <button class="vote_buttons" name="vote_input" type="submit" value="1">+</button>
    </form>
    <form action="/comments/<%= comment.id %>/votes" method="post">
      <button class="vote_buttons" name="vote_input" type="submit" value="-1">-</button>
      <span>votes: <%= comment.object_votes %></span>
    </form>
  </div>

<% end %>
</ul>
